<div class="mt-5 d-flex justify-content-end">
  <button matRipple class="button yellow" (click)="openDialogService()">
    <i class="fa-solid fa-circle-plus"></i> Novo serviço
  </button>
</div>


<div class="cards" >
  @if(loading) {
    <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="card"
    *ngFor="let service of services"
    (click)="openDialogService(service)">
    <div>
      <i class="fa-solid fa-caret-right"></i>
      {{ service.title }}
    </div>
    <div>
      <i class="fa-solid fa-user"></i>
      {{ service.client?.name }}
    </div>
    <div>
      <div [class]="service.status">
        <i class="fa-regular fa-circle-dot"></i>
        {{ service.status | service_status}}
      </div>
    </div>
    <div>
      <div class="btn">
        <i class="fa-solid fa-photo-film"></i>
      </div>
    </div>
  </div>

</div>