<div class="mt-5 d-flex justify-content-end">

  <form [formGroup]="form" class="col-md-3 me-3">
    <div class="col-md-12">
      <mat-form-field appearance="outline">
        <mat-label>Buscar...</mat-label>
        <input matInput type="text" formControlName="search_term">
      </mat-form-field>
    </div>
  </form>

  <button matRipple class="button yellow" (click)="openDialogCollaborator()">
    <i class="fa-solid fa-circle-plus"></i> Novo Colaborador
  </button>
</div>

<div id="componentTable" class="col-12 mt-4">
    <app-table-users    
      [searchTerm]="searchTerm"
      [loading]="loading"
      (onUserClick)="openDialogCollaborator($event)"
      (onDeleteUserClick)="onDeleteCollaborator($event)">
    </app-table-users>
</div>
